* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Poppins";
}

button {
  background-color: #5955b3;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  transition: opacity 250ms ease;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.container {
  height: 100vh;
}

.navbar-container {
  padding-top: 30px;
}

.navbar-container > div {
  display: inline-block;
}

img[alt="brand-logo"] {
  margin-left: 70px;
  width: 120px;
  cursor: pointer;
  position: relative;
  top: 13px;
}

.list {
  margin-left: 40px;
  list-style-type: none;
}

.list-item {
  display: inline-block;
  margin-left: 40px;
  font-size: 18px;
  font-weight: 500;
  color: #b5b5b5;
  cursor: pointer;
}

.list-item:first-child {
  color: #000000;
}

.button-group .nav-button {
  margin-left: 340px;
  padding: 10px 25px;
}

.banner-container div:first-child {
  float: left;
  width: 40vw;
  margin-left: 70px;
  margin-top: 100px;
}

.heading-text {
  font-size: 50px;
  font-weight: 600;
  color: #382b5c;
  line-height: 1.3;
}

.heading-text span {
  color: #5a56b3;
}

.description {
  font-size: 18px;
  font-weight: 500;
  color: #949494;
  padding-top: 20px;
  width: 90%;
}

.nav-button.btn {
  margin-top: 35px;
  padding: 15px 30px;
}

.banner-container div:last-child {
  float: right;
}

img[alt="illustration"] {
  height: 500px;
  position: relative;
  top: 40px;
}
